@import url('https://fonts.googleapis.com/css?family=Roboto:regular,700,900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:300,500,600&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	/* по умолчанию */
}

body {
	line-height: 1;
	background-color: #F5F5F5;;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 20px;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* ------------------------------ */
.whoweare {
	font-family: 'Roboto', sans-serif;
	max-width: 1020px;
	margin: 0 auto;
	padding: 100px 87px 0 87px;
	line-height: 24px;
	color: #4B4B4B;
	border: 1px solid transparent;
	background-color: #fff;
	margin-bottom: 150px;
}


.whoweare__subtitle {
	font-size: 12px;
	line-height: 27px;
	letter-spacing: 2.5px;
	margin-bottom: 33px;
	text-transform: uppercase;
	font-weight: 700;
	vertical-align: middle
}


.whoweare__title {
	color: #02133C;
	font-size: 36px;
	font-weight: 900;
	line-height: 42px;
	margin-bottom: 36px;
	max-width: 580px;

}

.whoweare__text {
	font-size: 16px;
	margin-bottom: 54px;
}

.whoweare__image  {
	margin: 0px 0px -120px 0px;
}
.whoweare__image img {
	max-width: 100%;
}
.services__items {
	font-family: "Roboto", sans-serif;
}

.services__item {
	max-width: 324px;
	text-align: center;
	background-color: #fff;
	padding: 50px 46px;
	margin: 0px 0px 24px 0px;
}

.services__image {
	margin: 0px 0px 33px 0px;
}

.services__title {
	font-size: 19px;
	line-height: 26px;
	font-weight: 900;
	margin: 0px 0px 20px 0px;
	color: #02133C;
}

.services__text {
	line-height: 24px;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}



.shop {
	max-width: 1030px;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.shop__title {
	font-size: 32px;
	line-height: 48px;
	margin: 0px 0px 26px 0px;
	text-transform: capitalize;
}

.shop__subtitle {
	font-size: 24px;
	line-height: 36px;
	margin: 0px 0px 50px 0px;
	text-transform: uppercase
}
.shop__label,
.shop__text {
	line-height: 26px;
	margin: 0px 0px 35px 0px;
}

.shop__label {}

.shop__text {
	font-weight: 300;
}



.product {
	font-family: "Poppins", sans-serif;
}

.product__item {
	max-width: 430px;
}

.product__image {
	margin: 0px 0px 10px 0px;
}

.product__title {
	font-size: 44px;
	line-height: 58px;
	font-weight: 500;
	margin: 0px 0px 25px 0px;
}

.product__text {
	max-width: 390px;
	font-size: 18px;
	line-height: 26px;
	font-weight: 300;
}